* {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  body {
    display: flex;
    height: 100vh;
    text-align: center;
    align-items: center;
    justify-content: center;
  /*   background: #262626; */
  /*   background: green; */
    background: #ABC270;
  }
  
  ul {
    display: flex;
  }
  
  ul li {
    position: relative;
    display: block;
    color: #666666;
    font-size: 30px;
    height: 55px;
    width: 55px;
  /*   background: #171515; */
  /*   background: lightgreen; */
    background: #ABC270;
    line-height: 55px;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
    transition: 0.5s;
  }
  ul li:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: inherit;
    width: inherit;
    background: #d35400;
    border-radius: 50%;
    transform: scale(0.9);
    z-index: -1;
    transition: 0.5s;
  }
  ul li:nth-child(1):before {
    background: #4267b2;
  }
  ul li:nth-child(2):before {
    background: #1da1f2;
  }
  ul li:nth-child(3):before {
    background: #e1306c;
  }
  ul li:nth-child(4):before {
    background: #2867b2;
  }
  ul li:nth-child(5):before {
    background: #ff0000;
  }
  ul li:hover:before {
    filter: blur(3px);
    transform: scale(1.2);
    box-shadow: 0 0 15px #d35400;
  }
  ul li:nth-child(1):hover:before {
    box-shadow: 0 0 15px #4267b2;
  }
  ul li:nth-child(2):hover:before {
    box-shadow: 0 0 15px #1da1f2;
  }
  ul li:nth-child(3):hover:before {
    box-shadow: 0 0 15px #e1306c;
  }
  ul li:nth-child(4):hover:before {
    box-shadow: 0 0 15px #2867b2;
  }
  ul li:nth-child(5):hover:before {
    box-shadow: 0 0 15px #ff0000;
  }
  ul li:hover {
    color: #ffa502;
    box-shadow: 0 0 15px #d35400;
    text-shadow: 0 0 15px #d35400;
  }
  
  ul li:nth-child(1):hover {
    color: #456cba;
    box-shadow: 0 0 15px #4267b2;
    text-shadow: 0 0 15px #4267b2;
  }
  ul li:nth-child(2):hover {
    color: #26a4f2;
    box-shadow: 0 0 15px #1da1f2;
    text-shadow: 0 0 15px #1da1f2;
  }
  ul li:nth-child(3):hover {
    color: #e23670;
    box-shadow: 0 0 15px #e1306c;
    text-shadow: 0 0 15px #e1306c;
  }
  ul li:nth-child(4):hover {
    color: #2a6cbb;
    box-shadow: 0 0 15px #2867b2;
    text-shadow: 0 0 15px #2867b2;
  }
  ul li:nth-child(5):hover {
    color: #ff1a1a;
    box-shadow: 0 0 15px #ff0000;
    text-shadow: 0 0 15px #ff0000;
  }

/* .social-widget {
    margin-right: 10px;
    border: none;
    width: 600px;
    position: fixed;
    height: 73px;
    right: 0;
    background-color: green;
  } */